.post-area {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.search-bar {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.bookmarks-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
